<VirtualHost *:80>
    # Enable forward proxy
    ProxyRequests On
    # Add "Via" header
    ProxyVia On
    #ProxyRemote * http://...:8080 Uncomment to route requests through another proxy

    <Proxy *>
        Order allow,deny
        allow from all
    </Proxy> 
        
    # Enable caching proxy
    CacheRoot "/tmp"
    CacheMaxExpire 24
    CacheLastModifiedFactor 0.1
    CacheDefaultExpire 1

    #ServerName my-proxy

    ErrorLog "/var/log/apache2/proxy-error.log"
    CustomLog "/var/log/apache2/proxy-access.log" common
</VirtualHost>
